import Jsi{{properCase name}} from '../src/{{name}}.vue'

export default {
  title: 'Jsi{{properCase name}}',
  component: Jsi{{properCase name}}
}

export const {{properCase name}} = _ => ({
  components: { Jsi{{properCase name}} },
  template: `
    <div>
      <Jsi-{{name}}></Jsi-{{name}}>
    </div>
  `
})